<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spm2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/spmlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spmlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".Utils.ParcelService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Utils.MyBroadCastReceiver">
            <intent-filter>
                <action android:name="button_click"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".UI.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>